body {
    font-family: "Lato", sans-serif;
    margin: 0;
    background-color: #636fe0;
}

/*.header {
    background-color: #4f8fee;
    height: 288px;
    padding: 16px 0 0 0;
}*/



.header-title {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

.header-description {
    color: #FFFFFF;
    margin: 4px auto;
    text-align: center;
    max-width: 384px;
}



/**.menu {
    height: 112px;
    width: 912px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 24px;
    margin: -80px auto 0 auto;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}/**




